/* home page */
.div-container1{
    background-color: rgb(255, 141, 1);
    height: 500px;
    width: 600px;
    margin: auto;
    width: 60%;
    padding: 10px;
    border-radius: 25px;
    margin-top: 6%;
}
.head{
    margin-left: 35%;
    margin-right: 35%;
    font-size: 70px;
    color: white;
-moz-background-inline-policy: continuous;
}
.head2{
    margin-left: 40%;
    margin-right: 40%;
    font-size: 30px;
    width: 100% ;
    color: rgb(65, 64, 64);
}
.head3{
    margin-left: 42%;
    margin-right: 42%;
    font-size: 20px;
    width: 100% ;
    color: rgb(65, 64, 64);
}
.head4{
    margin-left: 45%;
    margin-right: 45%;
    font-size: 20px;
    width: 100%;
    color: rgb(65, 64, 64);
}
.start{
    background-color: #000000; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 41%;
    margin-right: 41%;
    width: 20%;
    border-radius: 25px
}








/* game page */
.div-container2{
    background-color: rgb(255, 141, 1);
    height: 600px;
    width: 600px;
    margin: auto;
    width: 60%;
    padding: 10px;
    border-radius: 25px;
    margin-top: 4%;
}
td{
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 85px;
    cursor:pointer;
}
table{
    border-collapse: collapse;
    position:absolute;
    left: 50%;
    margin-left : -155px;
    top: 700px;
    color: brown;
    margin-top: -33%;
}
#reset{
background-color: #000000; /* Green */
border: none;
color: white;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
margin-left: 41%;
margin-right: 41%;
width: 20%;
border-radius: 25px;
margin-top: 60%;
}
#msg{
color: cornsilk;
margin-top: -60%;
margin-left: 20%;
margin-right: 0%;
font-size: xx-large;
width: 60%;
background-color: black;
text-align: justify;
width: fit-content 150%;
text-align: center;
border-radius: 25px;

}
#score1{
color: cornsilk;
margin-top: 15%;
position: fixed;
}
#score2{
    color: cornsilk;
    margin-left: 72% ;
    margin-top: 25%;
    background-color: black;
}
.score{
    background-color: black;

text-align: center;
text-align: center;
border-radius: 25px;
height: 100px;
width: 250px;
}
#sp1{
  font-size: 50px;  
}
#sp2{
    font-size: 50px;
}